@font-face {
	font-family: 'Selima';
	src: url('Selima.eot'); /* IE9 Compat Modes */
	src: url('Selima.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('Selima.woff2') format('woff2'),
		/* Super Modern Browsers */ url('Selima.woff') format('woff'),
		/* Pretty Modern Browsers */ url('Selima.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('Selima.svg#svgSelima') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'California';
	src: url('California.eot');
	src: url('California.eot?#iefix') format('embedded-opentype'),
		url('California.woff2') format('woff2'), url('California.woff') format('woff'),
		url('California.ttf') format('truetype'), url('California.svg#California') format('svg');
}
