@font-face {
    font-family: 'Selima';
    src: url('Selima.eot');
    src: url('Selima.eot?#iefix') format('embedded-opentype'), url('Selima.woff2') format('woff2'), url('Selima.woff') format('woff'), url('Selima.ttf') format('truetype'), url('Selima.svg#Selima') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'California';
    src: url('California.eot');
    src: url('California.eot?#iefix') format('embedded-opentype'), url('California.woff2') format('woff2'), url('California.woff') format('woff'), url('California.ttf') format('truetype'), url('California.svg#California') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Summer Hearts';
    src: url('SummerHearts-Regular.eot');
    src: url('SummerHearts-Regular.eot?#iefix') format('embedded-opentype'), url('SummerHearts-Regular.woff2') format('woff2'), url('SummerHearts-Regular.woff') format('woff'), url('SummerHearts-Regular.ttf') format('truetype'), url('SummerHearts-Regular.svg#SummerHearts-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}