.beneficiary {
	&-hero {
		min-height: 320px !important;

		h2 {
			margin: 0 auto !important;
		}
	}

	&-info {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(flex-start);
		@include justify-content(flex-start);
		padding: 20px;
	}

	&-content {
		@include transition(all 0.5s ease);
		background: $style-2;
		border-radius: 5px;
		color: $white;
		padding: 20px;
		width: 45%;

		h3 {
			@include font-size(24);
			color: $style-3;
			font-weight: bold;
			margin: 0 auto 20px;
		}

		p {
			@include font-size(20);
		}
	}

	&-image {
		@include transition(all 0.5s ease);
		border-radius: 5px;
		width: 55%;
	}

	&-img {
		display: block;
		border-radius: 5px;
		max-width: 720px;
		width: 100%;
	}
}

@media only screen and (max-width: $break-lg) {
	.beneficiary {
		&-info {
			@include flexbox(flex);
			@include flex-direction(column);
			@include align-items(flex-start);
			@include justify-content(flex-start);
			padding: 20px 20px 0;
		}

		&-content {
			width: 100%;
		}

		&-image {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $break-sm) {
	.beneficiary {
		&-info {
			@include flexbox(flex);
			@include flex-direction(column);
			@include align-items(flex-start);
			@include justify-content(flex-start);
			padding: 10px;
		}

		&-content {
			width: 100%;

			p {
				@include font-size(18);
			}
		}
	}
}
