.experience {
	&-hero {
		min-height: 320px !important;
		h2 {
			margin: 0 auto !important;
		}
	}
	&-info,
	&-event,
	&-venue {
		padding: 30px 20px;
		text-align: center;
		width: 100%;
		&-content {
			@include font-size(20);
		}
	}
	&-info {
		background: $white;

		&-content {
			@include font-size(42);
			font-family: $font-teritary !important;
			max-width: 720px;
			margin: 20px auto;
			text-transform: uppercase;
		}
	}
	&-event {
		@include flexbox(flex);
		@include justify-content(center);
		@include align-items(center);
		background: $style-4;
		&-header {
			@include font-size(76);
			font-family: $font-secondary !important;
			color: $style-1;
		}
		&-image {
			background: $style-3;
			height: 400px;
			width: 40%;
		}
		&-info {
			padding: 30px;
			width: 60%;
		}
		&-content {
			color: $white !important;
			margin: 0 auto;
			text-align: left;
		}
	}
	&-venue {
		@include flexbox(flex);
		@include justify-content(center);
		@include align-items(center);
		background: $style-2;

		&-header {
			@include font-size(76);
			font-family: $font-secondary !important;
			color: $style-1;
		}

		&-map {
			background: $style-5;
			height: 400px;
			width: 40%;
		}

		&-info {
			color: $white;
			padding: 30px;
			width: 60%;
		}

		&-content {
			margin: 0 auto 20px;
			text-align: left;
		}
	}
}

.carousel {
	overflow: hidden;
	position: relative;
	min-height: 400px;
	max-height: 400px;

	&-item {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 0.6s ease-in-out;
		width: 100%;
	}

	&-controls {
		height: 100%;
		width: 100%;
	}

	&-control {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);
		background: rgba(105, 187, 194, 0.7);
		color: $white;
		cursor: pointer;
		font-size: 60px;
		height: 100%;
		line-height: 40px;
		text-align: center;
		width: 50%;
		z-index: 99;

		&:hover {
			background: rgba(105, 187, 194, 0.9);
		}
	}

	&-control.prev {
		float: left;
	}

	&-control.next {
		float: right;
	}

	&-image {
		display: block;
		height: 400px;
		text-align: center;
		width: 100%;

		&-1st {
			background: linear-gradient(rgba(45, 57, 70, 0.7), rgba(45, 57, 70, 0.7)),
				url(../images/experience-slider_1.jpg) no-repeat center center;
		}

		&-2nd {
			background: linear-gradient(rgba(45, 57, 70, 0.7), rgba(45, 57, 70, 0.7)),
				url(../images/experience-slider_2.jpg) no-repeat center center;
		}

		&-3rd {
			background: linear-gradient(rgba(45, 57, 70, 0.7), rgba(45, 57, 70, 0.7)),
				url(../images/experience-slider_3.jpg) no-repeat top center;
		}

		&-1st,
		&-2nd,
		&-3rd {
			@include flexbox(flex);
			@include justify-content(center);
			@include align-items(center);
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		p {
			@include font-size(32);
			color: $white;
			max-width: 80%;
			margin: 0 auto;
			text-shadow: 1px 1px 2px $style-1;
		}
	}

	&-indicators {
		bottom: 5%;
		left: 5%;
		list-style: none;
		margin: 0;
		padding: 0;
		right: 5%;
		text-align: center;
		z-index: 2;

		li {
			display: inline-block;
		}
	}

	&-indicator {
		@include transition(all 0.5s ease);
		color: $white;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		font-size: 30px;
		line-height: 1;
		padding: 4px 10px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

		&:hover {
			background: rgba(105, 187, 194, 0.5);
		}
	}
}

.carousel-active:checked + .carousel-item {
	opacity: 1;
	pointer-events: auto;
	position: static;
}

.carousel-active:checked + .carousel-item .carousel-caption {
	transition: opacity 0.6s ease-in;
	opacity: 1;
}

/* If you`re needing more than 3 banners, maybe you might be using another way to represent your info... ;-) */
#carousel-1:checked ~ .carousel-indicators .carousel-indicator[for='carousel-1'],
#carousel-2:checked ~ .carousel-indicators .carousel-indicator[for='carousel-2'],
#carousel-3:checked ~ .carousel-indicators .carousel-indicator[for='carousel-3'] {
	color: #007f7f;
}

@media (min-width: 768px) {
	.carousel-indicators {
		background: transparent;
	}
	.carousel-control {
		width: 7%;
	}
	.carousel-controls,
	.carousel-caption,
	.carousel-indicators {
		position: absolute;
	}
}
