.main {
}

.comingsoon {
	@include flexbox(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	background: url(../images/bg-lg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 20px;
	margin: 0 auto;
	width: 100%;
	height: 95vh;

	&-banner {
		margin-bottom: -25px;
		width: 180px;
	}
	&-heading {
		.h2 {
			@include transition(0.3s all ease);
			@include font-size(82);
			font-family: $font-secondary;
			text-shadow: 2px 2px 1px $style-1;
			color: $white;
			font-weight: 500;
			margin: 30px auto 20px;
			text-align: center;
			&-inside {
				color: $white;
				margin-left: -20px;
			}
		}
		&-supp {
			@include transition(0.3s all ease);
			@include font-size(22);
			color: $white;
			font-weight: 300;
			margin: -40px auto 20px;
			text-align: center;
		}
	}
	&-signup {
		text-align: center;
	}
	.form-helper {
		color: $white;
		font-weight: 300;
		margin: 0 auto 3px;
	}
	.margin {
		margin: 8px auto 0px;
	}
	.email {
		@include font-size(20);
		border-radius: 3px;
		border: 0;
		padding: 10px;
		margin: 8px auto 5px;
		width: 100%;
	}
	.submit {
		@include transition(0.3s all ease);
		@include font-size(20);
		background: $style-3;
		border-radius: 3px;
		color: $white;
		cursor: pointer;
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		width: 100%;
		&:hover,
		&:active {
			background: $style-1;
		}
	}

	.social {
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);

		&-icon {
			@include transition(0.3s all ease);
			@include transform(scale(0.9));
			background-image: url('../images/socicons-sprite.png');
			background-repeat: no-repeat;
			cursor: pointer;
			margin: 8px 20px;
			height: 61px;
			width: 60px;

			&:hover {
				@include transform(scale(1));
			}
		}
		&-facebook {
			background-position: 0px 0px;
		}
		&-twitter {
			background-position: -82px 0px;
		}
		&-instagram {
			background-position: -166px 0px;
		}
	}
}

@media only screen and (max-width: $break-sm) {
	.comingsoon {
		padding: 10px;
		&-banner {
			margin-bottom: -15px;
		}
		&-heading {
			.h2 {
				@include font-size(54);
			}
			&-supp {
				@include font-size(16);
				color: $white;
				font-weight: 300;
				margin: -30px auto 10px;
				text-align: center;
			}
		}
	}
}
