.information {
	&-container {
		@include flexbox(flex);
		@include flex-direction(column);
		@include align-items(flex-start);
		@include justify-content(flex-start);
		padding: 30px 20px;
	}

	&-content {
		background: $white;
		border-radius: 5px;
		padding: 20px;
		text-align: center;

		h3 {
			@include font-size(62);
			font-family: $font-secondary !important;
			color: $style-1;
			margin: 20px auto;
		}

		p {
			@include font-size(20);
			margin-bottom: 60px;
		}
	}

	&-savepups {
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(center);

		&-info {
			width: 50%;
		}

		&-image {
			width: 50%;
		}
	}

	&-map {
		width: 100%;

		iframe {
			height: 420px;
			width: 100%;
		}
	}
}
