.hero {
	background: url(../images/bg-lg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 480px;
	width: 100%;
	@include flexbox(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	h2 {
		@include font-size(82);
		font-family: $font-secondary;
		color: $white;
		text-align: center;
		text-shadow: 2px 2px 1px $style-1;
	}
	&-cta {
		@include font-size(28);
		border: 1px solid $white;
		font-weight: 300;
		padding: 14px 25px 16px;
		&:hover {
			background: $style-3;
			border: 1px solid $white;
		}
	}
}
