.hero {
	background: url(../images/bg-lg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 560px;
	width: 100%;
	@include flexbox(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	h2 {
		@include font-size(110);
		font-family: $font-secondary;
		color: $white;
		text-align: center;
	}
	&-cta {
		@include font-size(28);
		font-weight: 300;
		padding: 14px 25px 16px;
		&:hover {
			background: $style-3;
		}
	}
}
