.footer {
	@include flexbox(flex);
	@include flex-direction(row);
	@include justify-content(space-between);
	background: $style-1;
	padding: 5px;

	p {
		@include font-size(14);
		color: $white;
		margin: 0;
		padding: 5px 10px;
	}

	.heart {
		color: lighten($redpink, 10%);
	}
}

@media only screen and (max-width: $break-med) {
	.footer {
		@include flex-direction(column);
		@include align-items(center);
	}
}
