.banner {
	@include transition(all 0.5s ease);
	@include flexbox(flex);
	@include flex-direction(column);

	.logo {
		&-heading {
			@include transition(all 0.5s ease);
			@include font-size(28);
			margin: 0;
			width: 0%;
		}

		&-img {
			@include transition(all 0.1s ease);
			opacity: 0;
			margin: 10px 10px 0 30px;
			width: 180px;
		}
	}

	&-nav {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(space-between);
		background: $style-2;
		border-bottom: 1px solid $style-1;
		z-index: 75;
		width: 100%;

		&--top {
			position: relative;
		}

		&--scroll {
			position: fixed;

			.logo-heading {
				width: 20%;
			}

			.logo-img {
				@include transition(all 1s ease);
				opacity: 1;
			}
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.banner {
		.logo {
			&-main {
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.banner {
		.logo {
			&-main {
				margin: 14px 0 0;
				width: 160px;
			}
		}
	}
}
