.banner {
	@include transition(all 0.5s ease);
	@include flexbox(flex);
	@include flex-direction(column);
	border-bottom: 1px solid transparent;
	top: 0;
	width: 100%;
	z-index: 99;

	.logo {
		&-heading {
			@include transition(all 0.5s ease);
			@include font-size(28);
			margin: 0;
			width: 0%;
		}

		&-img {
			@include transition(all 0.1s ease);
			opacity: 0;
			margin: 12px 10px 0 15px;
			width: 180px;
		}
	}

	&-nav {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		@include justify-content(space-between);
		background: $style-2;
		border-bottom: 1px solid $style-1;
		position: relative;
		z-index: 75;
		width: 100%;

		&--top {
			position: relative;
		}

		&--scroll {
			position: fixed;

			.logo-heading {
				width: 40%;
			}

			.logo-img {
				@include transition(all 1s ease);
				opacity: 1;
			}

			.nav {
				width: 80%;
			}
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.banner {
		&-nav--scroll {
			.nav {
				width: 70%;
			}
		}
	}
}

@media only screen and (max-width: $break-lg) {
	.banner-alt {
		.logo {
			&-heading {
				width: 50% !important;
			}

			&-img {
				opacity: 1 !important;
			}
		}

		.nav {
			width: 70%;
		}
	}
}

@media only screen and (max-width: $break-med) {
	.banner {
		&-nav--scroll {
			.nav {
				width: 70%;
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.banner {
		.logo {
			&-main {
				margin: 14px 0 0;
				width: 160px;
			}
		}
	}
}
