.banner {
	@include transition(all 0.5s ease);
	@include flexbox(flex);
	@include justify-content(space-between);
	@include align-items(center);
	// background: transparent;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 75;

	.logo {
		&-heading {
			@include font-size(28);
			margin: 0;
		}

		&-img {
			margin: 14px 10px 0;
			width: 180px;
		}
	}

	&--top {
		background: transparent;
	}

	&--scroll {
		background: $style-2;
		border-bottom: 1px solid $white;
	}
}

@media only screen and (max-width: 400px) {
	.banner {
		padding: 15px;

		.logo {
			&-main {
				margin: 14px 0 0;
				width: 160px;
			}
		}
	}
}
