.home-info {
	min-height: 420px;
	padding: 30px 20px;
	text-align: center;
	width: 100%;

	&-header {
		@include font-size(76);
		font-family: $font-secondary !important;
		color: $style-1;
	}

	&-subheader {
		@include font-size(36);
	}

	&-content {
		@include font-size(20);
		max-width: 720px;
		margin: 0 auto 20px;
	}

	&-adjustment {
		margin-left: -8px;
	}
}

@media only screen and (max-width: $break-med) {
	.home-info {
		&-header {
			@include font-size(62);
		}
	}
}

@media only screen and (max-width: $break-sm) {
	.home-info {
		padding: 20px 10px;

		&-header {
			@include font-size(54);
		}

		&-content {
			@include font-size(18);
		}
	}
}

@media only screen and (max-width: 360px) {
	.home-info {
		&-header {
			@include font-size(48);
		}

		&-logos {
			margin: 20px 0;
			width: 250px;
		}
	}
}
