.home-beneficiary {
	background: $style-2;
	min-height: 300px;
	padding: 30px 20px;
	text-align: center;

	&-header {
		@include font-size(76);
		font-family: $font-secondary !important;
		color: $style-1;
	}

	&-tier1 {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include justify-content(center);
		@include align-items(flex-start);
		margin: 20px auto 50px;
		width: 100%;

		&-box {
			background: $style-2;
			min-height: 16vw;
			margin: 10px 30px;
			min-width: 24vw;
		}
	}

	&-interest {
		@include font-size(20);
	}

	&-logo {
		max-width: 720px;
		width: 100%;
	}
}
