.home-info {
	min-height: 420px;
	padding: 30px 20px;
	text-align: center;
	width: 100%;

	&-header {
		@include font-size(76);
		font-family: $font-secondary !important;
		color: $style-1;
	}

	&-subheader {
		@include font-size(36);
	}

	&-content {
		@include font-size(20);
		max-width: 720px;
		margin: 0 auto 20px;
	}
}
