.home-event {
	background: $white;
	min-height: 420px;
	padding: 30px 0;
	text-align: center;
	width: 100%;

	&-header {
		@include transition(all 0.5s ease);
		@include font-size(76);
		font-family: $font-secondary !important;
		color: $style-1;
	}

	&-container {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	&-box {
		@include transition(all 0.5s ease);
		@include flexbox(flex);
		@include align-items(center);
		min-height: 250px;
		width: 25%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-decoration: none;

		&:hover {
			@include transform(scale(1.1));
		}

		&-filter {
			z-index: 1;
			height: 100%;
			width: 100%;
			position: relative;
			overflow: auto;
			top: 0px;
			left: 0px;

			p {
				@include transition(all 0.5s ease);
				@include font-size(24);
				color: $white;
				font-weight: 500;
				margin: 0;
			}
		}

		&-jun {
			background: linear-gradient(rgba(105, 187, 194, 0.7), rgba(105, 187, 194, 0.7)),
				url(../images/upcoming-event_1.jpg) no-repeat center center;
		}

		&-jul {
			background: linear-gradient(rgba(45, 57, 70, 0.7), rgba(45, 57, 70, 0.7)),
				url(../images/upcoming-event_2.jpg) no-repeat center center;
		}

		&-aug {
			background: linear-gradient(rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.8)),
				url(../images/upcoming-event_3.jpg) no-repeat center center;
		}

		&-sept {
			background: linear-gradient(rgba(215, 190, 207, 0.7), rgba(215, 190, 207, 0.7)),
				url(../images/upcoming-event_4.jpg) no-repeat center center;
		}

		&-jun,
		&-jul,
		&-aug,
		&-sept {
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: $break-xlg) {
	.home-event {
		padding: 30px 0 0;

		&-box {
			width: 50%;
		}
	}
}

@media only screen and (max-width: $break-med) {
	.home-event {
		&-header {
			@include font-size(62);
		}

		&-box {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $break-sm) {
	.home-event {
		&-header {
			@include font-size(54);
		}

		&-box {
			min-height: 200px;
		}
	}
}

@media only screen and (max-width: 360px) {
	.home-event {
		&-header {
			@include font-size(48);
		}
	}
}
